@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

:root {
    /* colors */
    --main-color: #FFE48D;
    --juver-color: #FDBF60 ;
    --naranjoso-color: #FF8911;
    --otro-color: #822FD4;
    --morrado-aimp3: #E3D6FF;
    --otro-morado: #F3EDFF;
    --muy-morrado: #480C91;
    --morradito-color: #EAD8FC;
    --gris-color: #F0F0F0;

    /* fonts */
    --fredoka-font: "Fredoka", sans-serif;
    --DM-serif: "DM Serif Display", serif;
    --Dancin-script: "Dancing Script", cursive;
    --Playfair-display:"Playfair Display", serif;
    --Caveat-font:"Caveat", cursive;
    --Oswald-font:"Oswald", sans-serif;
    --Satisfy-font:"Satisfy", sans-serif;
}



/* BARRA DE NAVEGACION */

.contenido {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

ul li, a {
    text-decoration: none !important;
    color: black !important;
    font-family: var(--fredoka-font);
    list-style-type: none;
    margin: 0;
    padding: 5px;
    float: left;
}


.menu-user {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px var(--gris-color);
}

.contenido-menu {
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.objetos {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.luci {
    width: 30px;
    height: 30px;
}


.contenido-perfil {
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
    margin: 0 10px 0px 0px;
    background: linear-gradient(90deg, var(--naranjoso-color), var(--juver-color), var(--main-color));
    border-radius: 15px;
    height: 35px;
}

.foto-perfil {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    overflow: hidden;
}

/* ICONOS DE LA BARRA DE NAVEGACION */

.contenido-iconos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: auto;
}

.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos a {
    display: inline-block;
    margin: 0 10px;
}


/* CONTENIDO DEBAJO DE LA BARRA DE NAVEGACION */

/* CONFIGURACIÓN DEL CONTENIDO DEBAJO */

.debajo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.contenido-debajo {
    width: 75%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    justify-items: center;
}

/* AQUI PUEDEN EMPEZAR A AÑADIR NUEVOS CONTENIDOS EN LA SECCION DE ABAJO */

.sucursales-tarjeta {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fredoka-font);
}

.frase {
    border: 4px solid var(--naranjoso-color);
    border-radius: 30px;
    margin-bottom: 10px;
}

.frase h1{
    font-family: var(--Satisfy-font);
    font-weight: normal;
    text-align: center;
}

.imagen-tarjeta {
    width: 100%;
    height: auto;
}

.col-sm-6, .mb-sm-0 {
    width: 100% !important;
}